.wrapper {
  outline: none;
  position: relative;
  height: 500px;
  overflow-y: auto;
  @apply rounded-lg border border-stone-800;
}

.container {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  @apply bg-black;
}

.viewportTable {
  width: 100%;
  
  &.auto {
    table-layout: auto;
  }
  
  &.fixed {
    table-layout: fixed;
  }
}

.selected td {
  @apply bg-stone-900;
  
  // make background red if it has not selected sibling previously
  &:has(& + tr:not(.selected)) {
    @apply bg-stone-900;
  }
}

.row {
  
  
  &, * {
    @apply transition-[border-radius] duration-100;
  }
}

.row.selected {
  @apply bg-stone-900;
}